:root {
  // Absolutes - Specification for black and white.
  --nr-color-black: #000000;
  --nr-color-white: #ffffff;

  // Contextual colors - Use for alerts, information, errors.
  --nr-color-grey-25: #4232325a;
  --nr-color-grey-50: #F5F5F58C;
  --nr-color-grey-75: #4A4A4A;
  --nr-color-grey: #f5f5f5;
  --nr-color-grey-125: #42323224;

  --nr-color-green: #7ed320;

}
