@import '../utils/baseUnitFactor';

.nr-app-info{
  align-items: center;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: baseUnitFactor(4);
  justify-content: flex-start;
  position: relative;

  &:hover, &:active {
    background-color: var(--nr-color-grey);
    cursor: pointer;
  }

  > span {
    align-items: center;
    display: flex;
    position: absolute;
    margin: auto;
    top: 1px;
    left: 0;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 700;
    color: var(--nr-color-grey-75)
  }

  > h3 {
    margin: 0 0 0 baseUnitFactor(6);
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    color: var(--nr-color-grey-75);
  }



}
