@import '../utils/baseUnitFactor';
@import '../atoms/appInfo';
@import '../molecules/hostCard';
@import '../molecules/hostContainer';
@import '../molecules/viewSwitcher';
@import '../templates/page';

header {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: baseUnitFactor(6) 0;
  justify-content: flex-start;
  padding-top: baseUnitFactor(6);

  .nr-heading-section {
    align-items: baseline;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-weight: normal;
    font-size: 18px;

    > h1 {
      display: inline-flex;
      font-size: 35px;
      font-weight: 900;
      line-height: 1.2;
      margin: 0 0 2px;
      align-items: baseline;
      width: max-content;
    }

    &-user {
      display: inline-flex;
      margin-left: baseUnitFactor(2);
      width: max-content;
      font-size: 22px;
      line-height: 1.2;
    }
  }

  .nr-heading-email {
    display: inline-block;
    font-size: 22px;
    line-height: 1.2;
    max-width: unset;
    margin-left: 8px;
    margin-right: baseUnitFactor(6);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  > label.nr-view-switcher {
    display: inline-flex;
    min-width: fit-content;
    margin-left: auto;
  }
}


/**
 Logic for switching between grid/list view.
 Ideally this should be in a web component
 */
input.nr-view-switcher {

  &:not(:checked) {
    & ~ header > label.nr-view-switcher > span[type='grid'] {
      display: none;
    }

    ~ main .nr-host-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(320px, 1fr) );
    }
  }

  &:checked {
    & ~ header {
      > label.nr-view-switcher > span[type='list'] {
        display: none;
      }

      .nr-view-switcher-checkbox:before {
        background-color: var(--nr-color-green);
      }
    }

    & ~ main .nr-host-container {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

